<header>
    <nav class="navbar navbar-expand-md h-100 w-100" id="nav">
        <div class="container-fluid bg-white">
            <a class="navbar-brand d-flex flex-row align-items-center" href="INSERT LINK HERE" width="30" height="24" class="d-inline-block align-text-top" data-bs-target="#navbarSupportedContent">
                <img src="img/brand/CMA_logo.svg" style="width: 50px; height: 50px; margin-right: 10px;" alt="logo">
                <h1 class="org-title text-wrap fs-2">Center for Mycological Analytics</h1>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scholarships">Scholarships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/users/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>