 <h1>login (your endpoint, send this form: POST req: /api/users/forgot/retrieve)</h1>
    <h2>This form needs client side sanitization
    </h2>
    <form method="POST" id="forgotForm">
    <label for="name">email:</label>
    <input type="text" id="userEmail" name="email" placeholder="Your email" required>

    <button type="submit" id="retrievePass">Send </button>
    </form>