<div>
    <div>
        
        <h2>About Us</h2>

        <p>We are a community of leaders, researchers, and citizen scientists 
            with the mission of providing educational resources around the burgeoning 
            interest in mushrooms, their ecosystems, metabolisms, and human interactions.</p>
            <br>
            <p>Our goal is to build a foundation for the next generation by breaking 
                down barriers in scientific spaces while creating digestible procedures
                for our community to utilize.</p>
            <br>
            <p>We have a history of innovation in mushroom analytics, 
                supporting award winning cultivators, and building conversation platforms. 
                From developing the Hyphae Spectrum to building out ISO accredited labs and culture spaces across the country, 
                our team of instructors is dedicated to sharing their experience, insight, and expertise.</p>

    </div>
    <h1>Contact (your endpoint for this form: POST req: /api/contact)</h1>
  <form action="/submit" method="POST">
    <label for="name">First Name:</label>
    <input type="text" id="name" name="name" placeholder="Your Name" required>

    <label for="name">last Name:</label>
    <input type="text" id="name" name="name" placeholder="Your Name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Your Email" required>

    <button type="submit">Submit </button>
  </form>
</div>