<body>
  <!-- banner -->
  <div
    class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center"
    id="banner"
    style="background-image: url(img/banner-bk.jpg);"
  >
    <div class="container-fluid d-flex flex-column align-items-center">
      <h1 class="display-4 text-white text-center mb-5">About Us</h1>
    </div>
  </div>

  <!-- 1 column callout -->
  <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center px-lg-5 bg-light" id="oneColCallout">
    <div class="container-fluid d-flex flex-column align-items-center">
      <h2 class="display4 text-dark text-center mb-5 text-uppercase">Why the Center for Mycological Analytics?</h2>
      <p class="lead text-center">Our goal is to build a foundation for the next generation by breaking down barriers in
        scientific spaces while creating digestible procedures for our community to utilize.</p>
      <p class="lead text-center">We have a history of innovation in mushroom analytics, supporting award winning
        cultivators, and building conversation platforms. From developing the Hyphae Spectrum to building out ISO
        accredited labs and culture spaces across the country, our team of instructors is dedicated to sharing their
        experience, insight, and expertise.</p>
    </div>
  </div>

<!-- 2 column layout -->
  <div class="d-flex flex-column justify-content-between align-items-center px-5 py-5" id="threeColCallout">
    <h2 class="display4 text-dark text-center mb-5 text-uppercase">Faculty &amp; Staff</h2>
    <div class="d-flex flex-wrap justify-content-center align-items-top" id="programCards">
      <div class="card flex-fill h-lg-100 h-md-50 h-sm-50 border-0" style="width: 24rem;">
        <img class="rounded-circle mx-auto d-block" alt="image of ian" src="img/ian.jpg"
          style="width: 282px; height: 282px;" />
    
        <div class="card-body d-flex flex-column mr-lg-5 align-item-top">
          <h4 class="card-title text-center mt-3">Ian Bollinger</h4>
          <p class="text-center">Founder &amp; Instructor</p>
          <p class="text-center">
            Ian Bollinger is Co-Founder, Director of R&amp;D, and
            Entheogen Researcher at Hyphae Labs, centering his work
            around education and conversations.</p>
    
          <p class="text-center">He brings the importance of drug testing, citizen
            science, and community benefit to the forefront through
            his work supporting the science behind the
            Psilocybin/Hyphae Cups and in developing the Hyphae
            Spectrum(TM).
          </p>
    
          <p class="text-center">Through these endeavors he hopes to provide space for
            highlighting those scientists and cultivators who kept the
            work alive during the 'prohibition dark ages' as well as
            provide tools, education, as well as access to platforms
            the next generation and community can flourish from.</p>
        </div>
      </div>
    
      <div class="card flex-fill h-lg-100 h-md-50 align-items-top h-sm-50 border-0" style="width: 24rem;">
        <img class="rounded-circle mx-auto d-block" alt="image of emily" src="img/emily.jpg" />
    
        <div class="card-body d-flex flex-column mr-lg-5 align-items-top">
          <h4 class="card-title text-center mt-3">Emily Davis</h4>
          <p class="text-center">Founder &amp; Instructor</p>
          <p class="text-center">Emily Davis is a scientist, researcher, and creator.
            Emily has been learning within the mycology community
            since 2019.</p>
        
          <p class="text-center">Emily holds a Masters degree in environmental science and
            has experience working in academic, government, startup,
            industry, and community lab spaces.</p>
        
          <p class="text-center">They hope to use this experience to guide others through
            scientific frameworks/processes, and empower curiosity and
            conversation within the mycology space.</p>
        </div>
      </div>
    </div>
    </div>

  <!-- CONTACT FORM -->
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-light" id="contactUs">
  <div class="mb-3">
    <h2 class="text-uppercase">Get in Touch</h2>
  </div>

  <form method="POST" class="d-flex flex-column w-75" id="contactForm">
    <div class="form-group">
      <label class="mb-1" for="fName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="fNameHelp"
        placeholder="Enter your first name">
    </div>
    <div class="form-group mt-4 mb-4">
      <label class="mb-1" for="lName">Last Name</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="fNameHelp"
        placeholder="Enter your last name">
    </div>
    <div class="form-group mb-4">
      <label class="mb-1" for="emailInput">Email Address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group mb-4">
      <label class="mb-1" for="message">Write A Brief Message</label>
      <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <div class="d-flex flex-row-reverse">
      <button id="formSubmit" type="submit" class="btn btn-primary buttonStyle">Submit</button>
    </div>
  </form>
</div>


</body>