<div>
    <div>
        
        <h2>Courses List</h2>

        <p>Scroll through the course list below to view our current offerings. 
            In-Person events to fifteen (15) students, so SEATING IS LIMITED!</p>

    </div>
    {{#each courses}}
        <a href="link to whereever"><li>{{this.course_name}}</li></a>
    {{/each}}
    
</div>