<body>
    <!-- banner --> 
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center" id="banner" style="background-image: url(img/banner-bk.jpg);">
        <div class="container-fluid d-flex flex-column align-items-center px-5 py-5">
            <h2 class="display4 text-center mb-3 text-uppercase text-light">Course List</h2>
            <p class="lead text-light text-center">Scroll through the course list below to view our current offerings.
            In-Person events to fifteen (15) students, so SEATING IS LIMITED!</p>
        </div>
    </div>

    <!-- 3 column callout -->
    <div class="d-flex flex-column justify-content-center align-items-center px-5 py-5" id="threeColCallout">
        <div class="d-flex flex-column flex-grow-1 justify-content-center mb-5" style="height: 25%;">
            <div class="d-flex flex-column align-items-center">
                <h2 class="display4 text-dark text-center mb-5 text-uppercase">Our Programs</h2>
                <p class="lead text-center">Our Certificate programs will provide you with the information, skills, and
                    resources to be successful in the field of mycological analysis.</p>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center" id="programCards">
            <div class="card flex-fill h-lg-100 h-md-50 h-sm-50" style="width: 18rem;">
                <img class="card-img-top" src="img/pexels-artem-podrez-5726794.jpg" alt="" style="height: 50%;">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title">01. Our Programs</h4>
                    <p class="card-text">Attend a certificate course and join the next generation of mycological
                        experts.</p>
                    <div class="container justify-content-center mt-3 ctaButton">
                        <a class="d-flex flex-nowrap align-items-center" href="/courses">
                            <img id="cardBtn" src="img/icons/arrow.png" alt="arrow icon"
                                style="width: 32px; height: 32px;" />
                            <p class="ctaBtn ml-5">Learn more</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- </div> --}}

    <!-- CONTACT FORM -->
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-light" id="contactUs">
        <div class="mb-3">
            <h2 class="">Get in Touch</h2>
        </div>

        <div class="w-50">
            <form method="POST" class="d-flex flex-column my-3" id="contactForm">
                <div class="form-group">
                    <label class="mb-1" for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" aria-describedby="fNameHelp" placeholder="Enter your first name">
                </div>
                <div class="form-group mt-4 mb-4">
                    <label class="mb-1" for="lName">Last Name</label>
                    <input type="text" class="form-control" id="fName" aria-describedby="fNameHelp" placeholder="Enter your last name">
                </div>
                <div class="form-group mb-4">
                    <label class="mb-1" for="exampleInputEmail1">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group mb-4">
                    <label class="mb-1" for="message">Write A Brief Message</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button id="formSubmit" type="submit" class="btn btn-primary buttonStyle">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>