<body>
    <!-- banner -->
    <header>
        <nav class="navbar navbar-expand-md h-100" id="nav">
            <div class="container-fluid bg-white">
                <a class="navbar-brand d-flex flex-row align-items-center" href="INSERT LINK HERE" width="30" height="24" class="d-inline-block align-text-top" data-bs-target="#navbarSupportedContent">
                    <img src="img/brand/CMA_logo.svg" style="width: 50px; height: 50px; margin-right: 10px;" alt="logo">
                <h1 class="org-title text-wrap fs-2">Center for Mycological Analytics</h1>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="INSERT ABOUT PAGE LINK HERE">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="INSERT COURSES PAGE LINK HERE">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="INSERT SCHOLARSHIPS PAGE LINK HERE">Scholarships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="INSERT LOGIN PAGE LINK HERE">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center" id="banner" style="background-image: url(img/banner-bk.jpg);">
        <div class="container d-flex flex-column align-items-center">
            <h1 class="display-4 text-white mb-5">Summer registration is now open!</h1>
            <button class="btn btn-primary btn-lg w-25" href="/scholarships" type="button">Apply Now</button>
        </div>
    </div>

    <!-- 1 column callout -->
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center" id="oneColCallout">
        <div class="container d-flex flex-column align-items-center">
            <h2 class="display4 text-dark text-center mb-3">Why the Center for Mycological Analytics?</h2>
            <p class="lead text-center">We are a community of leaders, researchers, and citizen scientists with the mission of providing educational resources around the burgeoning interest in mushrooms, their ecosystems, metabolisms, and human interactions.</p>
            <div class="container justify-content-center mt-3" id="ctaButton">
                <a class="d-flex flex-nowrap justify-content-center align-items-center" href="INSER LINK TO ABOUT PAGE">
                    <img src="img/icons/arrow.png" alt="arrow icon" />
                    <p class="ctaBtn ml-5"> Learn more</p>
                </a>
            </div>
        </div>
    </div>

</body>

</html>