<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center" id="banner"
        style="background-image: url(img/banner.png); width: 100%; object-fit: contain;">
        <div class="container-fluid d-flex flex-column align-items-center">
            <h1 class="display-4 text-white text-center mb-5">Summer registration is now open!</h1>
            <a class="btn btn-primary btn-lg buttonStyle" href="/courses">View Courses</a>
        </div>
    </div>

    <!-- 1 column callout -->
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center px-lg-5" id="oneColCallout">
        <div class="container-fluid d-flex flex-column align-items-center animate__animated animate__slideInUp">
            <h2 class="display4 text-dark text-center mb-3 text-uppercase">Why the Center for Mycological Analytics?
            </h2>
            <p class="lead text-center">We are a community of leaders, researchers, and citizen scientists with the
                mission of providing educational resources around the burgeoning interest in mushrooms, their
                ecosystems, metabolisms, and human interactions.</p>
            <div class="container justify-content-center mt-3" id="ctaButton">
                <a class="d-flex flex-nowrap justify-content-center align-items-center" href="/about">
                    <img src="img/icons/arrow.png" alt="arrow icon" />
                    <p class="ctaBtn ml-5"> Learn more</p>
                </a>
            </div>
        </div>
    </div>

    <!-- 3 column callout -->
    <div class="d-flex flex-column justify-content-center align-items-center bg-light px-5 py-5" id="threeColCallout">
        <div class="d-flex flex-column flex-grow-1 justify-content-center mb-5" style="height: 25%;">
            <div class="d-flex flex-column align-items-center">
                <h2 class="display4 text-dark text-center mb-3 text-uppercase">Our Programs</h2>
                <p class="lead text-center">Our Certificate programs will provide you with the information, skills, and
                    resources to be successful in the field of mycological analysis.</p>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center animate__animated animate__slideInLeft animate__delay-1s" id="programCards">
            <div class="card flex-fill h-lg-100 h-md-50 h-sm-50" style="width: 18rem;">
                <img class="card-img-top" src="img/pexels-marcus-aurelius-4063590.jpg" alt="" style="height: 50%;">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title">01. Our Programs</h4>
                    <p class="card-text">Attend a certificate course and join the next generation of mycological
                        experts.</p>
                    <div class="container justify-content-center mt-3 ctaButton">
                        <a class="d-flex flex-nowrap align-items-center" href="/courses">
                            <img id="cardBtn" src="img/icons/arrow.png" alt="arrow icon"
                                style="width: 32px; height: 32px;" />
                            <p class="ctaBtn ml-5">Learn more</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card flex-fill h-lg-100 h-md-50 h-sm-50 mx-lg-5 ms-md-3 my-3 animate__animated" style="width: 18rem;">
                <img class="card-img-top" src="img/banner.png" alt="" style="height: 50%;">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title">02. Scholarships</h4>
                    <p class="card-text"> Learn more about the financial opportunities to help pursue your education.
                    </p>
                    <div class="container justify-content-center mt-3 ctaButton">
                        <a class="d-flex flex-nowrap align-items-center" href="/scholarships">
                            <img id="cardBtn" src="/img/icons/arrow.png" alt="arrow icon"
                                style="width: 32px; height: 32px;" />
                            <p class="ctaBtn ml-5"> Learn more</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card flex-fill h-lg-100 h-md-50 h-sm-50" style="width: 18rem;">
                <img class="card-img-top" src="img/pexels-pixabay-163064.jpg" alt="" style="height: 50%;">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title">03. Connection</h4>
                    <p class="card-text"> Get involved with our larger community and help break down barriers.</p>
                    <div class="container justify-content-center mt-3" id="ctaButton">
                        <a class="d-flex flex-nowrap align-items-center"
                            href="https://www.linkedin.com/company/center-for-mycological-analytics/">
                            <img id="cardBtn" src="img/icons/arrow.png" alt="arrow icon"
                                style="width: 32px; height: 32px;" />
                            <p class="ctaBtn ml-5"> Learn more</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SPONSORS -->
    <div class="d-flex flex-column justify-content-center align-items-center" id="sponsor">
        <div class="mb-3">
            <h2 class="display4 text-dark text-center mb-3 text-uppercase">Our Sponsors</h2>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <div>
                <img class="sponsorImg mr-lg-5" src="img/sponsor/HL_transparent.png" alt="">
            </div>
            <div class="mx-5 mx-sm-5">
                <img class="sponsorImg" src="img/sponsor/mycelialmass.png" alt="">
            </div>
            <div class="">
                <img class="sponsorImg ml-lg-5" src="img/sponsor/slopeslabs.png" alt="">
            </div>
        </div>
    </div>


    <!-- CONTACT FORM -->
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-light" id="contactUs">
        <div class="mb-3">
            <h2 class="text-uppercase">Get in Touch</h2>
        </div>

        <form method="POST" class="d-flex flex-column w-75" id="contactForm">
            <div class="form-group">
                <label class="mb-1" for="fName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="fNameHelp"
                    placeholder="Enter your first name">
            </div>
            <div class="form-group mt-4 mb-4">
                <label class="mb-1" for="lName">Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="fNameHelp"
                    placeholder="Enter your last name">
            </div>
            <div class="form-group mb-4">
                <label class="mb-1" for="emailInput">Email Address</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group mb-4">
                <label class="mb-1" for="message">Write A Brief Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <div class="d-flex flex-row-reverse">
                <button id="formSubmit" type="submit" class="btn btn-primary buttonStyle">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>