<!-- 1 column callout -->
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center" id="oneColCallout">
        <div class="container d-flex flex-column align-items-center">
            <h2 class="display4 text-dark text-center mb-3">Why the Center for Mycological Analytics?</h2>
            <p class="lead text-center">We are a community of leaders, researchers, and citizen scientists with the mission of providing educational resources around the burgeoning interest in mushrooms, their ecosystems, metabolisms, and human interactions.</p>
            <div class="container justify-content-center mt-3" id="ctaButton">
                <a class="d-flex flex-nowrap justify-content-center align-items-center" href="/api/contact/apply">
                    <img src="img/icons/arrow.png" alt="arrow icon" />
                    <p class="ctaBtn ml-5"> Our programs</p>
                </a>
            </div>
        </div>
    </div>