<div>

    <h1>login (your endpoint, send this form: POST req: api/users/validate)</h1>
    <h2>This for needs client side sanitization, I gave Deni a script from my code bank, that will acheive this,
        that script will nee minor adaptions. you can view it in action here if you need to: https://cms-styleblog-b43fd1e13c1e.herokuapp.com/
    </h2>
    <form method="POST">
    <label for="name">email:</label>
    <input type="text" id="name" name="name" placeholder="Your Name" required>

    <label for="name">password:</label>
    <input type="text" id="name" name="name" placeholder="Your Name" required>

  <a href="/api/users/forgot"> Fogot Password? </a>
  <p>this should open another page: 
  user fills out their info, and clicks a button which targets the endpoint: /api/users/forgot/retrieve. 
  This will initiate the email to be sent to them</p>

    <button type="submit">Send </button>
  </form>

</div>
