<div class="container-fluid d-flex flex-column justify-content-center align-items-center px-5 py-5 bg-light" id="logout">
    <div class="mb-3 align-item-center">
        <h2 class="text-center mb-3">Are you sure you want to logout?</h2>
        <div class="d-flex flex-row align-items-center justify-content-around mt-5">
            <a href="/api/users/logout/confirm"><button class="btn btn-primary mr-5" style="background-color: #5e6d55;">Logout</button></a>
            <a href="/"><button class="btn btn-primary ml-5" style="background-color: #5e6d55;">Cancel</button></a>
        </div>
    </div>
</div>