<div class="container-fluid d-flex flex-column justify-content-center align-items-center px-5 py-5 bg-light" id="contactUs">
    <div class="mb-3 align-item-center">
        <h2 class="text-center mb-3">You've successfully logged out</h2>
        <a class="d-flex flex-nowrap justify-content-center align-items-center" href="/">
            <img src="/img/icons/arrow.png" alt="arrow icon" />
            <p class="ctaBtn ml-5" style="background-color: #5e6d55;">Return to Home</p>
        </a>
    </div>
</div>

