* {
    padding: auto;
    margin: 0;
}

:root {
    --accent: #5e6d55;
    --alt-bg: #757575;
    --main-text: #000000;
    --alt-bg: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Caudex', serif;
}

a, button, p, ul, li {
    font-family: 'Noto Sans', sans-serif;
    margin-block-end: 0;
    padding: 0;
}

.buttonStyle {
    background-color: var(--accent) !important;
    border: none !important;
}

/* JUMBOTRON */
.jumbotron {
    height: 50vh;
}

/* 1-COLUMN CALLOUT*/
#oneColCallout, #carousel, #contactUs {
    height: 75vh;
}

.ctaBtn {
    font-size: 1.5em;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Carousel */

/* CONTACT FORM */

/* FOOTER */
#footerBrand {
    width: 25vh;
    height: 25vh;
}

/* Custom CSS to fix content pushing up into the jumbotron */
#oneColCallout {
    margin-top: 50px; /* Adjust the value as needed to add space between the jumbotron and the content below */
  }
  
  @media (max-width: 768px) {
    #oneColCallout {
      margin-top: 30px; /* Adjust the value for smaller screens if needed */
    }
  }
  